@import url('https://fonts.googleapis.com/css?family=Times%20New%20Roman:700|Rethink%20Sans:400');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
@media (prefers-color-scheme: light) {
  :root {
    --text: #040316;
    --background: #f5ebe0;
    --primary: #8e530b;
    --secondary: #c69253;
    --accent: #23bebe;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #eae9fc;
    --background: #1f150a;
    --primary: #f4b971;
    --secondary: #ac7839;
    --accent: #41dcdc;
  }
}

body {
  font-family: 'Rethink Sans';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Times New Roman';
  font-weight: 700;
}

html {font-size: 100%; background-color: var(--background)} /* 16px */

h1 {font-size: 5.652rem; color: var(--text) /* 90.4px */ }

h2 {font-size: 3.997rem; color: var(--text) /* 64px */}

h3 {font-size: 2.827rem; color: var(--text) /* 45.28px */}

h4 {font-size: 1.999rem; color: var(--text) /* 32px */}

h5 {font-size: 1.414rem; color: var(--text) /* 22.56px */}

small {font-size: 0.707rem; color: var(--text) /* 11.36px */}

p {color: var(--text)}
